@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

button:active {
  transform: scale(0.9);
  transition: all 0.1s;
}

.progress-shadow  {
  background-color: #171717;
  z-index: -5;
  top: 12px;
  height: 2px;
}

.progress-main  {
  background-color: teal;
  z-index: -5;
  top: 12px;
  height: 2px;
  transition: all 1s ease-out;
}

.floating-label {
  position: absolute;
  padding:2px 8px;
  left: 10px;
}
